* {
    font-family: inter, sans-serif;
}

.css-hyum1k-MuiToolbar-root {
    background: linear-gradient(
        273.84deg,
        #600817 1.56%,
        #a12137 100%
    ) !important;
}
.home .MuiBox-root {
    min-height: calc(100vh - 70px);
    background-color: #f4f4f4;
}

.pageHeading {
    font-size: 32px;
    font-weight: 40px;
    font-weight: 600;
    color: #a02136;
    margin-bottom: 20px;
}

.paavaiansContainer .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-weight: 600 !important;
}

.paavaiansContainer .css-1e2bxag-MuiDataGrid-root {
    padding: 10px;
}

.detailsTitle {
    font-weight: 600;
}

.loadingContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    flex-direction: column;
    gap: 20px;
}

.profileImageContainer {
    width: 200px;
    height: 200px;
    background-color: #a12137;
    margin-bottom: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profileImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discussion {
    /* background-color: orange; */
    color: #909090;
    padding: 20px 0;
    border-bottom: 1px solid #efefef;
}
.discussion__meta {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    margin-top: 8px;
}
.content__separater {
    font-size: 6px !important;
}
/* .discussion__author {
}
.discussion__date {
}
.discussion__details {
} */
.discussion__title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.discussion__description {
    color: #616161;
    font-size: 14px;
}

.DiscussionSingleContainer {
    /* background-color: rgb(243, 243, 243); */
    height: calc(92vh - 65px);
}

.DiscussionSingleContainer .discussion__meta {
    font-size: 14px;
    margin-bottom: 20px;
}
.DiscussionSingleContainer .discussion__title {
    font-size: 24px;
    margin-bottom: 8px;
}
.DiscussionSingleContainer .discussion__description {
    font-size: 18px;
}

.discussion__actions {
    /* background-color: skyblue; */
    gap: 8px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.discussion__actions .action__unpublish,
.discussion__actions .action__publish {
    background-color: #ffe3e8;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 50px;
}

.discussion__actions .action__publish {
    background-color: #c7efe5;
}
.commentsAll_container {
    /* background-color: rgb(244, 244, 244); */
    /* box-shadow: 0px 0px 20px #d7d7d7; */
    box-shadow: 0px 4px 87px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 20px;
}

.comment_container .discussion__meta {
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 0;
    line-height: 1.5;
    color: rgb(131, 131, 131);
}

.comments_container .comment_data {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
}

.comments_container .comment_container {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
    /* background: red; */
}

.comments_container {
    display: flex;
    flex-direction: column;
    height: 68vh;
    /* background-color: skyblue; */
    overflow-y: scroll;
}

.comment_form {
    background-color: #f4f4f4;
    display: flex;
    margin-top: 16px;
    background: white;
    padding: 2px;
    box-shadow: 0px 0px 10px #b6b6b6;
    border-radius: 50px;
}
.comment_form .comment_input {
    outline: none;
    padding: 10px;
    flex: 1;
    overflow: none;
    border-radius: 50px 0 0 50px;
    /* background-color: #e6e6e6; */
}
.comment_form .comment_button {
    padding: 0px 20px;
    background-color: #a02136 !important;
    border: none;
    color: white;
    overflow: none;
    border-radius: 0px 50px 50px 0;
}
