* {
    font-family: inter, sans-serif;
}

.css-hyum1k-MuiToolbar-root {
    background: linear-gradient(
        273.84deg,
        #600817 1.56%,
        #a12137 100%
    ) !important;
}
.home .MuiBox-root {
    min-height: calc(100vh - 70px);
    background-color: #f4f4f4;
}

.pageHeading {
    font-size: 32px;
    font-weight: 40px;
    font-weight: 600;
    color: #a02136;
    margin-bottom: 20px;
}

.paavaiansContainer .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-weight: 600 !important;
}

.paavaiansContainer .css-1e2bxag-MuiDataGrid-root {
    padding: 10px;
}

.detailsTitle {
    font-weight: 600;
}

.loadingContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    flex-direction: column;
    gap: 20px;
}

.profileImageContainer {
    width: 200px;
    height: 200px;
    background-color: #a12137;
    margin-bottom: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profileImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discussion {
    /* background-color: orange; */
    color: #909090;
    padding: 20px 0;
    border-bottom: 1px solid #efefef;
}
.discussion__meta {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    margin-top: 8px;
}
.content__separater {
    font-size: 6px !important;
}
/* .discussion__author {
}
.discussion__date {
}
.discussion__details {
} */
.discussion__title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.discussion__description {
    color: #616161;
    font-size: 14px;
}
